.welcome
    .welcome__top.container
        .welcome__top-left
            .welcome__block
                .welcome__block-title WELCOME BONUS*
                .welcome__block-cont
                    .welcome__block-txt.txtMagenta #[span up to] 225 000 ₴
                    .welcome__block-txt.txtBlue 300 FS
            a(href="/personal-office/balance/deposit/").depositBtn.big MAKE A DEPOSIT
        .welcome__top-right
            picture
                source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/team-desk.png")
                source(media="(max-width: 1050px)" srcset="img/team-tab.png")
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/team-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/team-mob.png")
                img(src="img/team-desk.png" alt="Favbet")
    .welcome__center.container
        .welcome__center-bonuses
            //1
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 1
                    .bonusItem__numb-bottom Deposit
                .bonusItem__txt
                    .bonusItem__txt-top Bonus 100% <br> UP TO 30 000 ₴
                    .bonusItem__txt-bottom to the deposit from 100 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //2
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 2
                    .bonusItem__numb-bottom Deposit
                .bonusItem__txt
                    .bonusItem__txt-top Bonus 125% <br> UP TO 37 500 ₴
                    .bonusItem__txt-bottom to the deposit from 200 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //3
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 3
                    .bonusItem__numb-bottom Deposit
                .bonusItem__txt
                    .bonusItem__txt-top Bonus 150% <br> UP TO 45 000 ₴
                    .bonusItem__txt-bottom to the deposit from 300 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //4
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 4
                    .bonusItem__numb-bottom Deposit
                .bonusItem__txt
                    .bonusItem__txt-top Bonus 175% <br> UP TO 52 500 ₴
                    .bonusItem__txt-bottom to the deposit from 400 ₴
                .bonusItem__arrow
                    img(src="img/arrow-small.svg" alt="Favbet").bonusItem__arrow-small
                    img(src="img/arrow-large.svg" alt="Favbet").bonusItem__arrow-large
            //5
            .bonusItem
                .bonusItem__numb
                    .bonusItem__numb-top 5
                    .bonusItem__numb-bottom Deposit
                .bonusItem__txt
                    .bonusItem__txt-top Bonus 200% <br> UP TO 60 000 ₴
                    .bonusItem__txt-bottom to the deposit from 500 ₴
        .welcome__center-fs
            .welcome__center-fs-left 300 FS
            .welcome__center-fs-right to the deposit from 300 ₴
        a(href="/personal-office/balance/deposit/").depositBtn MAKE A DEPOSIT
    .welcome__bottom.container
        .drop
            details.dropdown
                summary official RULES
                .drop-txt
                    .drop-txt-list
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dsffb facilis molestias quas quisquam sed sint vate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dsffs facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem digimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dsimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem imos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem imos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem im facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum debitis esse eum, explicabo id inventore ipsam minus nihil nulla quis. Ab, autem dignissimos facilis molestias quas quisquam sed sint voluptate?

        .details
            p * The bonus means the opportunity to receive a prize as part of the “Welcome Bonus” promotion. Details on the website favbet.ua. The promotion is held from 24.03.2025 to 31.12.2025. The bonus is available only for new customers.
            p * 150 free spins in the game “Sam’s Play” and 150 free spins in the game “Gates of Olympus” for a deposit from 300 ₴